app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build

    echo "Run app pre-requisites"
app_deploy:
  type: text
  content: >-
    #/bin/sh

    <<'###'

    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm install <helm-folder> -n <ns> $HELM_OPTS


    kubectl apply -f <file>.yaml

    ###


    echo "Deploy app pre-requisites"
app_test: []
lastUpdatedBy: Mayank Gaikwad
lastUpdatedOn: 2022-07-29T13:10:13.119Z
