app_dependencies:
  type: text
  content: "#!/bin/bash\nset -E\n# insert/update hosts entry\nip_address=\"192.168.x.x\"\nhost_name=\"my.hostname.example.com\"\n# find existing instances in the host file and save the line numbers\nmatches_in_hosts=\"$(grep -n $host_name /etc/hosts | cut -f1 -d:)\"\nhost_entry=\"${ip_address} ${host_name}\"\n\necho \"Please enter your password if requested.\"\n\nif [ ! -z \"$matches_in_hosts\" ]\nthen\n\t    echo \"Updating existing hosts entry.\"\n\t        # iterate over the line numbers on which matches were found\n\t\t    while read -r line_number; do\n\t\t\t            # replace the text of each line with the desired host entry\n\t\t\t\t            sudo sed -i '' \"${line_number}s/.*/${host_entry} /\" /etc/hosts\n\t\t\t\t\t        done <<< \"$matches_in_hosts\"\n\t\t\t\t\telse\n    echo \"Adding new hosts entry.\"\n    echo \"$host_entry\" | sudo tee -a /etc/hosts > /dev/null\nfi\n\ncd ./ && make\n"
app_deploy:
  type: text
  content: |-
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

    echo "Deploying app"
app_test: []
app_uninstall:
  type: text
  content: |-
    #!/bin/sh

    echo "Uninstalling app"
lastUpdatedBy: Roost Desktop
lastUpdatedOn: 2022-08-24T11:51:58.927Z
